body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font: 10px;
    color: white;
}
img {
    height: 50px;
    width: 50px;
}
h2, h4{
    font-weight: bold;
}

svg {
    fill: grey;
    height: 30px;
    width: 25px;
}

.sidebar svg{
    fill: white;
    height: 30px;
    width: 25px;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    gap: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 15fr;
}

.sidebar .logo {
    justify-self: center;
    height: 60px;
    width: 40px;
    color: white;
}


.sidebar {
    justify-items: center;
    align-items: center;
    padding-left: 5px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(16, 1fr);
    background-color: #3b82f6;
    grid-row: 1 / 3;
    height: 100%;
    box-shadow: -6px 0 10px -6px rgb(65, 102, 177) inset;
}

.sidebar h2, h4 {
    justify-self: start;
}

.header {
    display: grid;
    color: black;
    grid-template-columns: 1fr 9fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    background-color: white;
    box-shadow: 0 -4px 8px -6px rgb(0, 0, 0) inset;
}

.header input {
    justify-self: center;
    align-self: center;
    background-color: #cbd5e1;
    border-radius: 30px;
    height: 45%;
    width: 100%;
    border-style: none;
    grid-column: 2 / 4;
}

.header svg,img{
    align-self: center;
    justify-self: center;
}

.icon {
    width: 70px;
    height: 70px;
    margin-left: 10px;
}
.header h3 {
    white-space: nowrap;
    margin-right: 25px;
    margin-left: 10px;
}

.bell {
    grid-column: 5/6;
    align-self: baseline;
}

.title {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 10px;
}

.title > p {
    display: flex;
    align-self: end;
    margin-bottom: 3px;
    margin-left: 0;
}

.title > h2 {
    display: flex;
    align-items: start;
    margin: 0px;
}

.header button {
    background-color: #3b82f6;
    color: white;
    font-family: Roboto;
    font-size: 200;
    font-weight: 500;
    height: 30%;
    width: 90%;
    align-self: center;
    border-radius: 25px;
    border: none;
}
.new-button {
    grid-column: 3/5;
}

.upload-button {
    grid-column: 5/7;
}

.main-content {
    background-color: #cbd5e1;
    display: grid;
    gap: 10px;
    grid-template-columns: 7fr 2fr;
}

.main {
    margin: 10px;
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 2 / 3;
    height: 90%;
}

.main-content h2 {
    color: black;
    font-weight: 450;
}



.project-cards {
    border-left: 7px solid #dfad16;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 0px #9da5af;
    background-color: white;
    height: 100%;
    width: 100%;
}

.project-cards h3,p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    margin-bottom: 6px;
    align-self: flex-start;
}

#SuperCoolProjects {
    grid-column: 1;
}

#project-header {
    display: flex;
    margin-left: 13px;
    margin-bottom: 0;
    margin-top: 0;
    align-self: flex-end;
}

#announcement {
    display: flex;
    margin-left: 13px;
    margin-bottom: 0;
    align-self: flex-end;
}

.announcements {
    margin-top: 10px;
    margin-right: 10px;
    display: grid;
    flex-direction: column;
    justify-content: center;
    color: black;
    border-radius: 8px;
    box-shadow: 5px 5px 8px 0px #9da5af;
    background-color: white;
    color: black;
    height: 80%;
}


.announce-card {
    color: gray;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.announce-card h4 {
    color: black;
    align-self: flex-start;
    margin: 0;
    margin-left: 15px;
}

.trending-div {
    display: grid;
    margin-top: 10px;
    margin-right: 10px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-radius: 8px;
    box-shadow: 5px 5px 8px 0px #9da5af;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    height: 80%;
}

.trending-div div {
    display: contents;
}


.Announcement-Trending {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.project-header2 {
    display: flex;
    margin-left: 13px;
    margin-bottom: 0;
    align-self: flex-end;
}

.user {
    display: flex;
    align-self: center;
    justify-self: flex-start;
}